* {
  font-family: 'Slabo 27px', serif;
}

nav {
  background: black;
}

.parallax-container {
  height: 80vh;
}

.centered-text {
  margin: 0 auto;
}

.white-text {
  color: white;
}

#bottom {
  height: 100vh;
  background: black;
}

.split {
  display: flex;
}

.left, .right {
  width: 50%;
  height: 100%;
}

/* stock images provided by pixabay */
