* {
  font-family: 'Slabo 27px', serif;
}

nav {
  background: black;
}

.parallax-container {
  height: 70vh;
}

.centered-text {
  text-align: center;
  margin: 0 7.5%;
  font-size: 2.5rem;
  line-height: 150%;
}

.white-text {
  margin: 0 auto;
  color: white;
}

.split {
  height: 80vh;
  display: flex;
}

.left, .right {
  width: 50%;
  height: 100%;
  background: black;
  text-align: center;
  border: 1px solid white;
}

/* stock images provided by pixabay */
